@import './quasar.variables.scss';
// app global css in SCSS form
@font-face {
  font-family: lexend;
  src: url(./fonts/Lexend-VariableFont_wght.ttf);
}
.font-lexend {
  font-family: 'lexend';
}
.bg-light{
  background-color: $light
}
.bg-light-gray{
  background-color: $light-gray
}
.bg-dark-gray{
  background-color: $dark-gray
}
.input-field{
    height: 55px!important;
  .q-field__bottom {
    display: none!important;
  }
}
.typeset-dark{
  border: $light-gray 1px solid;
  border-radius: 5px;
  padding: 10px
}
